/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 15px;
    margin-bottom: 10px;
    color: #3b4778;
    border: groove 10px #655b9f;
    background-color: #ecc5a6;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  .second-section {
    padding: 15px;
    margin-bottom: 10px;
    color: #3b4778;
    border: ridge 6px #474c8d;
    background-color: #f4debd;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  .content {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #cdb453;
  }